<!-- Author: Michael Quach -->

/*stylizes header for index page*/
#topNav { 
	border:1px solid black; /*adds a solid black border around header*/
	font: 35px "Lucida Grande", Helvetica, Arial, sans-serif; /*sets font of header to Arial, sized 35*/
    background-color: #990099; /*sets a purple background for header*/
    width: 50%; /*compress width of header by 50%*/
    display: flex; /*allow the header to act as a flexible box*/
}

a {
	color: white; /*sets font color in header to white*/
}

#left {
	flex: 0 0 65%; /*sets "UP Scheduler" text to left of header bar*/
}

#right {
	flex: 1; /*sets "Settings" text to right of header bar*/
    cursor: pointer; /*changes mouse to pointer when hovering over "Settings"*/
}

/*stylizes body for index page*/
body {
	padding: 50px; /*adds padding to body*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; /*sets font of body to Arial, sized 14*/
}

h4 {
	text-decoration: underline; /*adds underline to "Select your courses"*/
}

#submit {
	text-align: center; /*centers text in "Submit" button*/
	cursor: pointer; /*changes mouse to pointer when hovering over "Submit" button*/
}

/*stylizes header for schedules page*/
h2 {
	border:1px solid black; /*adds a solid black border around header*/
	font: 35px "Lucida Grande", Helvetica, Arial, sans-serif; /*sets font of header to Arial, sized 35*/
	background-color: #990099; /*sets a purple background for header*/
	color: white; /*sets font color in header to white*/
	width: 50%; /*compress width of header by 50%*/
}
 
/*stylizes body for schedules page*/ 
#main {
	width: 50%; /*compress width of body by 50%*/
}
  
.scheduleTime {
	float: right; /*sets all times of classes to right of page, align with classes*/
}

#return {
	text-align: center; /*centers text in "Return" button*/
	cursor: pointer; /*changes mouse to pointer when hovering over "Return" button*/
}
