/* Author: Michael Quach and Julian Donovan */
/* Project Color Scheme:*/


body {
    margin: 2vh;
    background-color: #DDDEDE;
    font-size: 18px;
}

/*Header Style*/
.topNav {
    height: 32px;
    padding: 10px;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif; /*sets font of header to Arial, sized 35*/
    background-color: #232122;
}

a {
    color: #DDDEDE; /*sets font color in header to white*/
}

#leftNav {
    float: left;
    font-weight: bold;
    font-size: 32px;
    margin-left: 6px;
}

#rightNav {
    float: right;
    cursor: pointer; /*changes mouse to pointer when hovering over "Settings"*/
    margin: 3px 6px;
}

/*Body Style*/
#main {
  padding-top: 24px;
  margin-left: 16px;
}

#greetingText {
  padding-bottom: 12px;
}

#termSelect {
  background-color: #968f8f;
  width: 60px;
  text-align: center;
}

#return, form input {
  background-color: #aa8cc5;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: right;
  padding: 6px 12px;
  margin: 3px;
  border: none;
}

.classGroup {
  text-align: center;
}

.classSelect {
}

#return, form input[type='submit'] {
  background-color: #885ead;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*stylizes body for schedules page*/
.horiz-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.scheduleOption {
  display: flex;
  flex-direction: row;
  margin-right: 48px;
}

.scheduleTime {
  float: right; /*sets all times of classes to right of page, align with classes*/
  margin-right: 16px;
  margin: 16px;
}

.scheduleClass {
  background-color: #aa8cc5;
  color: white;
  border-radius: 5px;
  padding: 16px;
}
