/* Author: Michael Quach and Julian Donovan */

body {
    margin: 2vh;
    background-color: #DDDEDE;
    font-size: 18px;
}

/*Header Style*/
.topNav {
    height: 22px;
    padding: 8px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif; /*sets font of header to Arial, sized 35*/
    background-color: #232122;
}

a {
    color: #DDDEDE; /*sets font color in header to white*/
}

#leftNav {
    float: left;
    font-weight: bold;
    font-size: 22px;
    margin-left: 6px;
}

#rightNav {
    float: right;
    cursor: pointer; /*changes mouse to pointer when hovering over "Settings"*/
    margin: 0 6px;
}



/*Body Style*/
#main {
  padding-top: 16px;
  margin-left: 16px;
}

#greetingText {
  margin-bottom: 12px;
}

#main input, #main button  {
  background-color: #aa8cc5;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: right;
  padding: 6px 12px;
  margin: 3px;
  border: none;
}

#termSelect {
  background-color: #968f8f !important;
  width: 60px;
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

/*Table Style*/
#table {
	border: 1px solid black;
	text-align: right;
	padding: 6px 12px;
}

#main button {
  margin-top: 12px;
  background-color: #885ead;
}

/*Schedule Style */
.horiz-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

#main button {
  margin-top: 12px;
  background-color: #885ead;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes hidden margins */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.scheduleClass {
  display: flex;
  flex-direction: row;
  margin-right: 48px;
}

.timeLabel {
  float: right; /*sets all times of classes to right of page, align with classes*/
  margin: 16px;
}

.classLabel {
  background-color: #aa8cc5;
  color: white;
  border-radius: 5px;
  padding: 16px;
}
