/* Author: Michael Quach and Julian Donovan */

body {
    margin: 2vh;
    background-color: #cfbede;
    font-size: 18px;
}

/*index css*/
.section {
  background-color: #DDDEDE;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  margin-top: 12px;
}

/*Header Style*/
.topNav {
    height: 26px;
    padding: 11px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif; /*sets font of header to Arial, sized 35*/
    background-color: #232122;
    border-radius: 5px;
}

a {
    color: #DDDEDE; /*sets font color in header to white*/
    text-decoration: none;
}

#leftNav {
    float: left;
    font-weight: bold;
    font-size: 22px;
    margin-left: 12px;
}

#rightNav {
    float: right;
    display:inline-block;
    margin: 0.6px;
    text-decoration: none;
}

.navEl {
  background: none !important;
  padding: 0px 8px;
  font-size: 16px;
}

.popup-content {
  background-color: #DDDEDE !important;
  padding: 12px 24px !important;
}

.header {
  font-weight: bold;
  font-size: 22px;
}



/*Modal*/
.modal {
  font-size: 12px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
}



/*Body Style*/
.bottom, form {
  position: relative;
  text-align: center;
  background-color: #DDDEDE;
  padding: 5px;
  margin-top: 12px;
  border-radius: 5px;
}

#main {
  padding-top: 16px;
  position: relative;
}

#greetingText {
  background-color: #DDDEDE;
  margin-bottom: 12px;
  padding: 8px;
  font: 17px "Helvetica", sans-serif;
  font-weight: bold;
}

input, button  {
  background-color: #aa8cc5;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 6px 12px;
  margin: 3px;
  border: none;
}

button {
  background-color: #885ead !important;
}


#classGroup{
  padding: 5px;
  margin: 10px;
  border: none
}

#termSelect {
  background-color: #968f8f !important;
  width: 60px;
  position: relative;
  text-align: center;
  left: 3px;
}

.input-predict-container {
  display: inline-block !important;
}

.input-predict-input {
  position: relative;
  background: transparent !important;
  z-index: 2 !important;
}

.input-predict-suggestion {
  background: #aa8cc5 !important;
  left: 0;
  color: #d3d3d3 !important;
  z-index: 1 !important;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

/*Table Style*/
.rt-table {
  background-color: #885ead;
  border:#885ead;
}

.rt-thead -header {
  background-color: #885ead;
  border:#885ead;
}

.rt-tr {
  background-color: #885ead;
  border:#885ead;
}

.rt-th {
  background-color: #aa8cc5;
  border:#885ead;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

.rt-tbody {
  background-color: #885ead;
  border:#885ead;
}

.rt-tr-group: {
  background-color: #DDDEDE;
  border:#885ead;
}

.rt-td {
  background-color: #DDDEDE;
  border:#885ead;
  font: 18px "Helvetica", sans-serif;
  color: black;
  text-align: center;
}

#option-container {
  text-align: center;
  background-color: #DDDEDE;
  margin-bottom: 12px;
  padding: 8px;
  border-color: #885ead;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-content: center;
  height: auto;
  margin-left: 1px;
  margin-right: 1px;
  font:16px "Helvetica", sans-serif;
}

.optable {
  text-align: center;
  font:15px "Helvetica", sans-serif;
  background-color: #DDDEDE;
  border-color: #885ead;
  border-radius: 5px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

/*Schedule Style */
.horiz-container {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow-x: auto;
    border-color: #885ead;
    border-radius: 5px;
    font:16px "Helvetica", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes hidden margins */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    width: auto;
}

.pdfdim {
  display: flex;
  flex-direction: row;
	margin-left: auto;
	margin-right: auto;
  overflow-x: auto;
}

.scheduleBox {
  background-color: #DDDEDE;
  font:15px "Helvetica", sans-serif;
  border-radius: 5px;
  padding:8px;
}

.save-return {
  text-align: center;
}

.scheduleClass {
  display: flex;
  flex-direction: row;
  margin: 12px 24px 4px;
}

.daysLabel {
  float: right; /*sets all days of classes to right of page, align with classes*/
}

.timeLabel {
  float: right; /*sets all times of classes to right of page, align with classes*/
  min-width: 250px;
  margin: 16px;
}

.classLabel {
  background-color: #aa8cc5;
  color: white;
  min-width: 250px;
  border-radius: 5px;
  padding: 16px;
}

.hover {
  position: relative;

  &:hover &__no-hover {
    opacity: 0;
  }

  &:hover &__hover {
    opacity: 1;
  }

  &__hover {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  &__no-hover {
    opacity: 1;
  }
}

 .inputHeader {
   font-weight: bold;
   padding-top: 12px;
 }

.textContainer {
  background-color: #DDDEDE;
  border-radius: 5px;
  padding: 8px;
  color: black;
}

.contentsTable {
  background-color: #DDDEDE;
  border: 1px solid #aa8cc5;
  border-radius: 5px;
  padding: 8px;
  font:12px "Helvetica", sans-serif;
}

#tableTitle {
  font: 15px "Helvetica", sans-serif;
}

.helpSet {
  color:black;
  background-color:#DDDEDE;
  border: 1px solid #aa8cc5;
  border-radius: 5px;
  padding: 8px;
  font:15px "Helvetica", sans-serif;
}

.helpContent {
  font:12px "Helvetica", sans-serif;
  color: black;
}

/*DROPDOWN EXAMPLE
https://github.com/fraserxu/react-dropdown/blob/master/example/style.css

*/
.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
